:root {
  --header-color: #212121;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --person-title-color: #212121;
  --about-person-title-color: #757575;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --tupical-margin-botoom: 30px;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.footer-logo,
.header-logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* ------------ HEADER --------------- */

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo-second-color {
  color: #212121;
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.link.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  cursor: pointer;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-tel {
  margin-left: 50px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ------------- HERO ------------- */

.hero .container {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: var(--tupical-margin-botoom);
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  display: block;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}

/* ------------- ABOUT ------------- */

.about {
  background-color: #ffffff;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.about-list {
  display: flex;
  margin-left: -30px;
}

.about-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

/* .about-item:first-child {
  margin-left: 0;
} */

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------- GALLERY ------------- */

.gallery .section {
  padding-top: 0;
}

.gallery-title {
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

/* ------------- MASTERS ------------- */

.masters {
  background-color: #f5f4fa;
}

.masters-title {
  margin-bottom: 50px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
}

.masters-item {
  background-color: #ffffff;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* .masters-item:first-child {
  margin-left: 0;
} */

.masters-img {
  margin-bottom: 30px;
}

.masters-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--person-title-color);
  margin-bottom: 10px;
}

.masters-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--about-person-title-color);
  margin-bottom: 30px;
}

/* ------------- FOOTER ------------- */

.footer .container {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-bottom: 20px;
}

.footer-logo-second-color {
  color: #ffffff;
}

.footer-link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-link-address:hover,
.footer-link-address:focus,
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ------------- PORTFOLIO ------------- */

.portfolio-list {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  margin-bottom: 50px;
}

.portfolio-item:nth-child(n + 2) {
  margin-left: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  background-color: #f5f4fa;
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
}

/* ------------- Projects ------------- */

.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project-contaction {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--person-title-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--about-person-title-color);
}
